<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-2"></div>
    <div class="col-8">
      <form action="/filter" method="POST" class="form-group row">
        <select class="form-control-lg col-8" id="exampleFormControlSelect1 category"
          placeholder="Readonly input here..." name="categoryId" onchange="this.form.submit()">
          <option value="">全部</option>
          {{#each categories}}
          <option value="{{this._id}}" {{#if this.selected}}selected{{/if}}>{{this.name}}</option>
          {{/each}}
        </select>
      </form>
    </div>
    <div class="col-2"></div>
    <div class="col-3"></div>
    <div class="col-5">
      <div class="row mt-3 justify-content-center">
        <div class="col-4 text-left">
          <h3> 總金額</h3>
        </div>
        <div class="col-8 text-right align-text-bottom" name="totalAmount">
          <h1> {{totalAmount records}}元</h1>
        </div>
      </div>
    </div>
    <div class="col-4"></div>
  </div>


  <div class="row mt-2">
    <div class="col-2"></div>
    <ul class="list-group col-6">
      {{#each records}}
      <li class="list-group-item d-flex justify-content-between align-items-center">
        <i class="{{this.icon}}"></i>
        <div class="col-auto  mr-auto">
          <h4 class="mb-1">{{ this.name }}</h4>
          <small class="date">{{ dateFormate this.date }}</small>
        </div>
        <div class="col col-auto mr-5 amount">{{ this.amount }}元</div>
        <a class="btn btn-secondary  mr-2" id="edit-btn" href="./records/{{ this._id }}/edit">修改</a>
        <form action="/records/{{ this._id }}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-danger">刪除</button>
        </form>
      </li>
      {{/each}}
    </ul>
  </div>
</div>